* {
    font-family: Arial, Helvetica, sans-serif;    
}

h1 {
    text-align: center;
}

.title {
    font-size: 100px;
}
a {
    text-decoration: none;
}

.pictures {
    height: auto;
    width: 500px;
    display: block;
    margin: 0 auto;
}


.centred-list {
    text-align: left;
    display: inline-block;
}

.spaced-list {
    margin-bottom: 8px;
}

.large-text-list {
    font-size: 25px;
}

div {
    text-align: center;
}